:root {
    --my-bg-gradient: linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);
    -white: #ffffff;
    --my-dark-text: #161012;
    --my-dark-grey: #6b7376;
    --my-text-grey: #b6bbc1;
    --my-headers: #eaeaea;
    --my-contact-active: #e9ebeb;
    --my-light-icons: #b1b1b1;
    --my-sent-message: #d5f9ba;
    --my-notification: #8edafc;
}
body{
    font-family: 'Lato', sans-serif;
}


#app {
    width: 100%;
    height: 100vh;
    background:linear-gradient(180deg, #009688 24.99%,#DCDBD3 25%);
    padding: 20px;
}
.avatar-container img{
    width: 40px;
}
.my-headers{
    background-color: var(--my-headers);
    padding: 5px;
}
.top-bar{
    padding-right:0;
    padding-left: 0;
}
.contact-list{
    height: 100%;
    overflow-y: auto;
}
.search-container{
    padding: 0 5px;
}
.sent{
    background-color: var(--my-sent-message);
}
.received{
    background-color: var(--my-headers);
}


/* .avatar-container{
    
    
} */