:root {
    --my-bg-gradient: linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);
    -white: #ffffff;
    --my-dark-text: #161012;
    --my-dark-grey: #6b7376;
    --my-text-grey: #b6bbc1;
    --my-headers: #eaeaea;
    --my-contact-active: #e9ebeb;
    --my-light-icons: #b1b1b1;
    --my-sent-message: #d5f9ba;
    --my-notification: #8edafc;
}


#app {
    width: 100%;
    height: 100vh;
    background:linear-gradient(180deg, #009688 24.99%,#DCDBD3 25%);
    padding: 20px;
}
.avatar-container img{
    width: 40px;
}
.my-bg-headers{
    background-color: var(--my-headers);
}
/* .avatar-container{
    
    
} */