<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Michele Ebau">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Vue Boolzapp</title>
</head>

<body>
  <div id="app">
    <div class="container h-100">
      <div class="row h-100">
        <!-- sidebar -->
        <div class="col-12 col-md-4 bg-light reset-padding d-flex flex-column" :class="{'d-none':showChat}">

          <!-- div  user with avatar and name -->
          <div class="d-flex justify-content-between align-content-center my-headers border-end">
            <div class="">
              <!-- user left -->
              <div class="avatar-container">
                <img :src="user.avatar" :alt="user.name" class="rounded-5">
                <span>{{user.name}}</span>
              </div>
            </div>
            <!-- user right -->
            <div class="icons-container align-items-center d-flex gap-2 text-secondary px-3">
              <i class="fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>

            </div>


          </div>
          <!-- notification -->
          <div class="my-notification">
            <!-- div  user with avatar and name -->
            <div class="d-flex align-content-center my-bg-notification p-2 gap-2">

              <!-- user left -->
              <div class="rounded-5 bell-container">
                <i class="fa-solid fa-bell-slash"></i>

              </div>


              <div class="">
                <strong>Recevi notifiche di nuovi messaggi</strong><br>
                <small class="text-decoration-underline">Attiva notifiche desktop</small>
              </div>




            </div>
          </div>


          <!-- search bar -->
          <div class="input-group search-container">
            <span class="input-group-text border-end-0 text-secondary" id="basic-addon1"><i
                class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control border-start-0" id="search" placeholder="ricerca"
              v-model="searchInput">
          </div>
          <!-- contact-list -->
          <div class="contact-list flex-grow-1 h0">
            <div class="avatar-container border-top py-2" :class="{'active': index===activeContactIndex} "
              v-for="(item, index) in filteredArray" :key="item.id" @click="setContactIndex(item.id)">
              <div class="d-flex">
                <img :src="item.avatar" :alt="item.name" class="rounded-5">
                <div class="d-flex flex-column align-items">

                  <strong>{{item.name}}</strong>
                  <small class="my-text-grey">{{item.messages[item.messages.length
                    -1].message.slice(0,35).concat('...')}}</small>
                  <small class="my-text-grey">{{item.messages[item.messages.length -1].date.slice(0,-3)}}</small>

                </div>
              </div>


            </div>

          </div>

        </div>
        <!-- main content chat-->
        <div class="col-12 col-md-8 reset-padding d-flex flex-column" :class="{'d-none':!showChat}">
          <!-- top -->
          <div class="d-flex justify-content-between align-content-center my-headers">
            <div class="">
              <!-- user left -->
              <div class="avatar-container">
                <img :src="getActiveContact.avatar" :alt="getActiveContact.name" class="rounded-5">
                <span>{{getActiveContact.name}}</span>
              </div>
            </div>
            <!-- user right -->
            <div class="icons-container align-items-center d-flex gap-2 text-secondary px-3">
              <i class="fa-solid fa-chevron-left" @click="showChat=!showChat"></i>
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>

            </div>


          </div>
          <!-- messages content chat -->
          <div class="content-chat flex-grow-1 h0 d-flex flex-column">
            <!-- message sent -->

            <div :class="item.status" v-for="(item, index) in getActiveMsg" class="d-flex flex-column" ref="msg">
              <div v-if="getActiveMsg.length>0" class="msg-text d-flex">
                <span>{{item.message}}</span>
                <div>
                  <div class="dropdown ">
                    <button class="btn  p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                      @click="msgToggleDown(index)">
                      <i class="fa-solid fa-angle-down ps-3" :class="{'my-text-grey': arrowIndex===index}"
                        @mouseover="showArrow(index)" @mouseleave="hideArrow"></i>
                    </button>
                    <ul class="dropdown-menu" :class="{'show':msgIndex===index}">
                      <li><a class="dropdown-item" href="#">Message info</a></li>
                      <li><a class="dropdown-item" href="#" @click.prevent="deleteMsg(index)">Delete message</a></li>

                    </ul>
                  </div>
                  <div class="msg-time my-text-grey">
                    {{item.date.slice(-8,-3)}}
                  </div>
                </div>


              </div>
              <div v-else>
                <span>Non sono presenti messaggi </span>
              </div>

            </div>

            <!-- message received -->

            <!-- <div class="received">
                <div class="msg-text">
                  Avevi detto che ci pensavi tu
                </div>
                <div class="msg-time">
                  15:45
                </div>
              </div> -->



          </div>
          <!-- bottom bar -->
          <div class="bottom-bar d-flex align-items-center my-headers">
            <div class="emoji px-2 text-secondary">
              <i class="fa-regular fa-face-smile"></i>
            </div>
            <input type="text" class="form-control" id="input-msg" placeholder="Scrivi un messaggio"
              v-model.trim="newMsgInput" @keyup.enter="newMessage()">
            <div v-if="!sendBtn" class="audio-btn px-2 text-secondary">
              <i class="fa-solid fa-microphone"></i>
            </div>
            <div v-else class="px-2 text-secondary send-btn" @click="newMessage()">
              <i class="fa-solid fa-paper-plane"></i>
            </div>

          </div>



        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- <script src="js/utility.js"></script> -->
  <script src="js/script.js" type="module"></script>
</body>

</html>

<!-- milestone 5 completed -->